/* CSS Reset */
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* style */

body {
  font: 16px/28px arial, sans-serif;
  color: #333333;
  background-color: white;
}

.header {
  padding: 5px;
  padding-bottom: 15px;
  background-color: #cd853f;
  font-family: "Lobster", cursive;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

@media screen and (min-width: 375px) {
}
/* navbar */
.navbar {
  position: sticky;
  background-color: black;
  box-shadow: 2px 2px 2px 2px lightslategray;
  top: 0;
  z-index: 10;
}

.navbar ul {
  margin: auto;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.navbar > ul {
  display: flex;
}

.navbar li {
  position: relative;
}

.navbar li > ul {
  display: none;
  position: absolute;
  width: 180px;
  text-align: center;
}

.navbar li > ul ul {
  left: 100%;
  top: 0;
}

.navbar a {
  color: #cd853f;
  display: flow-root;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  text-decoration: none;
  transition: all 1s;
  padding: 10px;
}
.navbar li > a:hover {
  background-color: brown;
  color: black;
  transform: scale(90%);
}

.navbar li:hover > ul {
  display: inline-block;
}
/* index */
.welcome-poto {
  background: grey;
  width: 200px;
  height: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  overflow: hidden;
}

.welcome-poto > img {
  position: absolute;
  width: 200px;
  object-fit: cover;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: grey;
  background-image: url("./Image/wood-2.png");
  height: 100vh;
  padding-top: 50px;
}

.hero > h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 5px;
  font-family: "Rubik Marker Hatch", cursive;
  padding-top: 25px;
  color: black;
}

.hero > p {
  text-align: center;
  color: black;
  font-family: "Nerko One", cursive;
}

.container {
  min-height: 45vh;
  min-width: 45vh;
  display: flex;
  flex-direction: column;
}

#contact > h2 {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  font-family: "Pacifico", cursive;
}

#contact > p {
  text-align: center;
}

#contact {
  align-items: center;
  justify-content: center;
}

#contact > ul {
  display: flex;
}

.animasi-timbul:hover {
  transition: 0.5s ease-in-out;
  transform: scale(120%);
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

/* Artikel */
.content {
  background-color: rgb(251, 253, 255);
  margin-left: 100px;
  margin-right: 100px;
}

.content h2 {
  margin-top: 10px;
  text-align: left;
  font-weight: bold;
  font-size: 30px;
}

.content h3 {
  text-align: left;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.content .penulis {
  font-size: 12px;
  margin-top: -5px;
  color: firebrick;
}

.content .penulis a {
  text-decoration: none;
}

.content p {
  margin-bottom: 20px;
  font-size: 14px;
}

.content .Artikel p {
  text-indent: 30px;
  text-align: justify;
}

.content h4 {
  font-size: 13px;
  font-weight: bold;
}

.content #Referensi {
  font-size: 12px;
  list-style: disc;
  margin-left: 15px;
}

.footer {
  background-color: #d2b48c;
  padding: 5px;
}

.footer .credit {
  text-align: center;
  font-size: 12px;
  text-decoration: none;
}

.italic {
  font-style: italic;
}

#text_artikel {
  margin-top: -5px;
  display: flex;
  text-align: center;
  font-size: 10px;
  flex-direction: column;
}

.gbr_artikel {
  height: 80vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.gbr_artikel > img {
  object-fit: fill;
  border: 3px solid #cd853f;
  width: 200vh;
}

.gbr_artikel2 {
  height: 50vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.gbr_artikel2 > img {
  object-fit: fill;
  border: 3px solid #cd853f;
  width: 60vh;
}

.gbr_artikel2a {
  height: 50vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.gbr_artikel2a > img {
  object-fit: fill;
  border: 3px solid #cd853f;
  width: 60vh;
}
.gbr_artikel3 {
  height: 50vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.gbr_artikel3 > img {
  object-fit: fill;
  border: 3px solid #cd853f;
  width: 60vh;
}

/* form */
.body_form {
  background-image: url(./Image/wood-2.png);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 10px;
  height: 120vh;
}

.container_form {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 50px;
  min-width: 370px;
}

.card-container {
  display: flex;
}

.left {
  flex: 1;
  height: 480px;
  background-image: url(/Assignment-1/Image/2person.jpg);
}

.right {
  display: flex;
  flex: 1;
  height: 500px;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
}

.left {
  display: flex;
  flex: 1;
  height: 460px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.left-container {
  height: 50%;
  width: 80%;
  text-align: center;
  line-height: 22px;
}

.left p {
  font-size: 0.9rem;
  color: black;
  font-weight: bold;
  font-family: "Nerko One", cursive;
}

.left-container h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: black;
  font-weight: bold;
  font-family: "Nerko One", cursive;
}

.right-container {
  width: 70%;
  height: 80%;
  text-align: center;
}

.right-container h2 {
  font-family: "Pacifico", cursive;
  font-size: 2rem;
  margin-bottom: 1rem;
}

input {
  border-radius: 2%;
}
input,
textarea {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  font-size: 0.8rem;
}

button {
  border-radius: 20px;
  border: 1px solid black;
  background-color: #cd853f;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-out;
  cursor: pointer;
}

button:hover {
  opacity: 0.7;
  transform: scale(110%);
}

textarea {
  height: 90px;
}
/* responsive */

@media only screen and (max-width: 600px) {
  .left {
    display: none;
  }

  .lg-view {
    display: none;
    font-family: "Nerko One", cursive;
  }
}

@media only screen and (min-width: 600px) {
  .sm-view {
    display: none;
    font-family: "Nerko One", cursive;
  }
}
